*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(172, 195, 236);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
p{
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 30px;
    color: rgb(85, 4, 85);
}

.skill{
    height: 160px;
    width: 160px;
    position: relative;
    margin: 30px;
}
.outer{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),-6px -6px 10px -1px rgba(255, 255, 255, 0.7)
}
.inner{
    height: 120px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
                inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
                -0.5px -0.5px 0px rgba(255, 255, 255, 1),
                 0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
                 0px 12px 10px -10px rgba(0, 0, 0, 0.5) ;
}

#number{
    font-weight: bold;
    font-size: 25px;
    color: #555;
}
#css-number{
    font-weight: bold;
    font-size: 25px;
    color: #555;
}
#js-number{
    font-weight: bold;
    font-size: 25px;
    color: #555;
}

circle{
    fill: none;
    stroke:url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray:472;
    stroke-dashoffset:472;
}
.circle-html{
    animation: anim-html 2s linear forwards;
}


svg{
    position: absolute;
    top:0;
    left: 0;
}


@keyframes anim-html{
    100%{
        stroke-dashoffset: 80;
    }
}


circle{
    fill: none;
    stroke:url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray:472;
    stroke-dashoffset:472;
}
.circle-css{
    animation: anim-css 2s linear forwards;
}


svg{
    position: absolute;
    top:0;
    left: 0;
}


@keyframes anim-css{
    100%{
        stroke-dashoffset: 100;
    }
}

circle{
    fill: none;
    stroke:url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray:472;
    stroke-dashoffset:472;
}
.circle-js{
    animation: anim-js 2s linear forwards;
}


svg{
    position: absolute;
    top:0;
    left: 0;
}


@keyframes anim-js{
    100%{
        stroke-dashoffset: 120;
    }
}